package {{basePackage}};

{{#config}}import {{modelPackage}}.*;
{{#apiImports}}import {{.}};
{{/apiImports}}
{{/config}}

/**
 * {{#desc}}{{.}}{{/desc}}{{^desc}}{{name}}{{/desc}}
{{#config}} *
 * @author {{author}}
 * @date {{date}}
{{/config}}
 */
{{#basePath}}@RequestMapping(value = "{{basePath}}"){{/basePath}}
public interface {{name}}Api {
{{#paths}}
    {{#path}}

        /**
         * {{#desc}}{{.}}{{/desc}}{{^desc}}{{name}}{{/desc}}
         *
         {{#params}}* @param {{name}} {{desc}}{{/params}}
         * @return {{{returnType}}}
         */
        @RequestMapping(value = "{{{path}}}", method = RequestMethod.{{httpMethod}})
        @ResponseBody
        {{{returnType}}} {{name}}({{#params}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{>formObjParams}}{{^isLast}},{{/isLast}}{{/params}});

    {{/path}}
{{/paths}}
}