package {{basePackage}};

{{#config}}{{#modelImports}}import {{.}};
{{/modelImports}}{{/config}}
/**
 * {{#desc}}{{.}}{{/desc}}{{^desc}}{{name}}{{/desc}}
{{#config}} *
 * @author {{author}}
 * @date {{date}}
{{/config}}
 */
public class {{name}}{{#templateTypes}}<{{.}}>{{/templateTypes}} {

{{#fields}}
    /**
    {{#desc}}
     * {{{desc}}}
    {{/desc}}
    {{^desc}}
     * {{name}}
    {{/desc}}
     */
    private {{{type}}} {{name}};

{{/fields}}
{{#fields}}
    public {{{type}}} get{{nameFirstUpper}}() {
        return {{name}};
    }

    public void set{{nameFirstUpper}}({{{type}}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/fields}}


    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append("class {{name}} {\n");
        {{#fields}}        sb.append("    {{name}}: ").append({{name}}).append("\n");
        {{/fields}}        sb.append("}");
        return sb.toString();
    }

}
