{{#isQueryParam}}@RequestParam(value = "{{name}}"{{#required}}, required = true{{/required}}{{^required}}, required = false{{/required}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}) {{type}} {{name}}{{/isQueryParam}}